/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 90%; /* 横幅いっぱい */
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
header .headline{
  font-size: 32px;
}
.nav-list {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: solid 1.5px;
  border-top: solid 1.5px;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/* clearfixを追加 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  width: 800px; /* 800px*/
  margin: 50px auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item{
  height: 200px;
  width: 200px;
}
#box1{
  background: #e6ffe9;
}
#box2{
  background: #cbffd3;
}
#box3{
  background: #aeffbd;
}
#box4{
  background: #93ffab;
}
#box5{
  background: #f3ffd8;
}
#box6{
  background: #edffbe;
}
#box7{
  background: #d9ffa5;
}
#box8{
  background: #e4ff8d;
}
#box9{
  background: #d9e4ff;
}
#box10{
  background: #bad3ff;
}
#box11{
  background: #a4c6ff;
}
#box12{
  background: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}